body {
    background-color: #3C3C3C;
    display: grid;
    place-items: center;
    color: white;
}

#tabs {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 35px;
}

#tabs * {
    border: 5px solid white;
    border-radius: 5px;
    padding: 10px;
}

#tabs .selected {
    border-bottom: 10px solid white;
}

#main {
    display: flex;
}

#left h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

#quark_img {
    width: 300px;
}

#quark_img:hover {
    opacity: 0.9;
    cursor: pointer;
}

#quark_img:active {
    opacity: 0.8;
    transform: scale(1.02);
}
